/* Arama kisminin css baslangici */
.search{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 50px;
}

.cards-result{
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 50px;
}
.search-result{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.card__image{
    width: 50px;
}
.card{
    margin: 40px;
}

/* input[type="text"]{

} */

/* .search__btn {
    position: absolute;
    transform:scale(0);
} */
